html{
	font-size: 62.5%;
	-webkit-transform-origin-x: 0;
　　	-webkit-transform: scale(0.83333333333333);
}
body{
	margin:0rem;
	padding:0rem;
	background-color: #eff0f4;
	color: #FFF;
}
/* TOP样式设置*/
.top{
	width: 100%;
	height: 9rem;
	background-color:#5fc0cd ;
	line-height: 9rem;
	font-size: 2.5rem;
	text-align: center;
	position: fixed;
	left: 0rem;
	top: 0rem;
}
.top a{
	text-decoration: none;
	color: #fff;
}
.fl{
	float: left;
	margin-left: 3rem;
}
.fr{
	float: right;
	margin-right: 3rem;
}
/*.start,.center,.end{
	position: absolute;
	}
.start{
	left: 3rem;
	}
.center{
	left: 50%;
	transform:translateX(-50%);
}
.end{
	right: 3rem;
	}*/
/*表单样式设置*/
form{
	margin-top:10rem;
	}
.current{
	width: 100%;
	height: 10rem;
	background-color: #FFF;
	margin-top: 10.5rem;
	line-height: 10rem;
}
.password{
	width: 100%;
	height: 10rem;
	background-color:#FFF;
	margin-top: 1.2rem;
	line-height: 10rem;
}
.current img,.password img{
	margin:3rem 4.5rem;
	vertical-align: middle;
}
input::-webkit-input-placeholder{/*兼容谷歌*/
	color:#e1e5e7;
}
input::-moz-placeholder{/*兼容火狐19以上*/
	color:#e1e5e7;
}
input:-moz-placeholder{/*兼容火狐4--18以上*/
	color:#e1e5e7;
}
input:-ms-input-placeholder{/*兼容IE10以上*/
	color:#e1e5e7;
}
.current input,.password input{
	width: 50%;
	border: 0px;
	border-left: 0.2rem solid #eaedee;
	font-size: 3rem;
	vertical-align: middle;
	padding: 1rem;
	outline: none;
}
button{
	width:100%;
	height:10rem;
	margin-top: 6.5rem;
	padding:0;
	border: 0px;
	display: block;
	background-color:#5fc0cd ;
	font-size: 2.5rem;
	color: white;
}
/*忘记密码  样式设置*/
.forget{
	width:100%;
}
.forget a{
	text-decoration: none;
	font-size: 2.5rem;
	color: #8bcdd7;
	float: right;
	margin-top: 2rem;
	margin-right: 3rem;
}
