html{
	font-size: 625%;
}
body{
	margin: 0;
}
/*头部*/
.header{
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	line-height: .4rem;
	text-align: center;
	color: #fff;
	font-size: .15rem;
	background-color: #5fc0cd;
}
.header a{
	position: absolute;
	top: 50%;
	left: .15rem;
	transform: translateY(-50%);
	text-decoration: none;
}
.header img{
	display: block;
	width: .11rem;
	height: .18rem;
	
}
.main{
	margin-top:.4rem ;
}
.backdrop{
	position: relative;
	height: 1.625rem;
	background: url(../img/bj.png) no-repeat center / cover;
	 /*有关backgroung-size:
    cover拉伸图片，保持高宽比；
    contain缩放至适合背景区，保持高宽比；
    */
}
.ues_head{
	position: absolute;
	left: .15rem;
	top: .4rem;
	width:.6rem;
	height:.6rem;
	background-color: #efefef;
	border-radius: 50%;
}
.ues_head img{
	display: block;
	width:100%;
	height:100%;
	border-radius: 50%;
}
.ues_properyte{
	position: absolute;
	top: .5rem;
	left:.9rem;
	color: #fff;
}
.name{
	margin-bottom:.075rem;
	font-size:.13rem ;
}
.address{
	font-size:.1rem;
	text-indent: 1.5em;
	text-align: center;
	background: url(../img/ico_03.png) no-repeat;
}
/*专业技能*/

.skil{
	line-height: .4rem;
	font-size: .13rem;

}
.skil span{
	margin-left: .15rem;
	padding-left: .15rem;
	text-indent:10px;
	background: url(../img/skil.png)  no-repeat;
}

/*列表部分*/
.list{
	padding-left: .15rem;
	border-bottom: 1px solid #e1e5e7;
	border-top:  1px solid #e1e5e7;

}
.flex_list{
	display: flex;
	align-items: center;
	font-size: .13rem;
	padding:.1rem .05rem .1rem .13rem;
	border-bottom: #efefef solid 1px;
}
.five-pointed{
	margin-right: .15rem;
}
.five-pointed img{
	position: relative;
	top: .022rem;
	margin-right:.05rem ;
}

.flex_list_left{
	margin-right: .15rem;
	color: #999;
	flex-shrink: 0;
}
.flex_list_left1{
	margin-right: .15rem;
	color: #e1e5e7;
}
}
.flex_list_right{
	color: #e26163;
}
/*页脚*/
.footer{
	position: fixed;
	bottom: 0;
	height: .65rem;
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	background-color: #fff;
}
.footer_left,.footer_right{
	padding: 0;
	width:47%;
	height: .45rem;
	font-size: .13rem;
	border-radius: .04rem;
}

.footer_left{
	color: #5fc0cd;
	background-color: #fff;
	border: 1px solid #5fc0cd;
	
}
.footer_right{
	color: #FFF;
	background-color:#5fc0cd;
	border: 1px solid #5fc0cd;
}

